<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>SB Admin 2 - Blank</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/css/mesas.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

	<script>
		function setaDadosModal(valor) {
          document.getElementById('aloca').value = valor;
          document.getElementById('libera').value = valor;
      }
	</script>

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Menu -->
		<%- include ../template/menu.ejs %>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Header -->
				<%- include ../template/topo.ejs %>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Listagem Atendimento</h1>

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<!--<h6 class="m-0 font-weight-bold text-primary">Listagem</h6>-->

							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading1">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
												aria-expanded="true" aria-controls="collapse1">
												MESAS
											</a>
										</h4>
									</div>
									<div id="collapse1" class="panel-collapse collapse in" role="tabpanel"
										aria-labelledby="heading1">
										<div class="panel-body">
											<ul class="process-model">
												<% for (var i = 0; i < listaMesas.length; i++) { %>
												<li role="presentation"
													class="<%= listaMesas[i].status === 'OCUPADA' ? 'active' : '' %>">
													<a href="#" data-toggle="modal"
														data-target="<%= listaMesas[i].status === 'OCUPADA' ? '#liberarMesaModal' : '#alocaModal' %>"
														onclick="setaDadosModal('<%= listaMesas[i].id %>')">
														<i aria-hidden="true">
                            <img src="/img/chair.svg" width="50px">
                        </i>
														<p><img src="/img/table.svg" width="16px"/> <%= listaMesas[i].numero %>
															<img src="/img/cadeira.svg" width="16px"/> <%= listaMesas[i].quantidadePessoas %></p>
													</a>
												</li>
												<% } %>
											</ul>
										</div>
									</div>
								</div>
							</div>



							<a href="/app/atendimento/create" class="btn btn-primary btn-circle btn-sm"
								style="float: right;">
								<i class="fas fa-plus"></i>
							</a>

						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Posição</th>
											<th>Cliente</th>
											<th>Pessoas</th>
											<th>Status</th>
											<th>Ação</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Posição</th>
											<th>Cliente</th>
											<th>Pessoas</th>
											<th>Status</th>
											<th>Ação</th>
										</tr>
									</tfoot>
									<tbody>
										<% for (var i = 0; i < atendimento.length; i++) { %>
										<% if (atendimento[i].status === 'AGUARDANDO') { %>
										<tr>
											<td><%= i+1 %></td>
											<td><%= atendimento[i].clienteNome %></td>
											<td><%= atendimento[i].quantidadePessoas %></td>
											<td><%= atendimento[i].status %></td>
											<td>
												<a href="/app/atendimento/edit/<%= atendimento[i].id %>"
													class="btn btn-success btn-circle btn-sm">
													<i class="fas fa-level-up-alt"></i>
												</a>
												<a href="/app/atendimento/edit/<%= atendimento[i].id %>"
													class="btn btn-warning btn-circle btn-sm">
													<i class="fas fa-edit"></i>
												</a>
												<a href="/app/atendimento/delete/<%= atendimento[i].id %>"
													class="btn btn-danger btn-circle btn-sm">
													<i class="fas fa-times"></i>
												</a>
											</td>
										</tr>
										<% } %>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>


				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Rodapé -->
			<%- include ../template/rodape.ejs %>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="alocaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Selecionar Cliente!</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
				</div>
				<form id="modalExemplo" method="post" action="/app/atendimento/add/cliente/submit/">
					<div class="modal-body">
						<% for (var i = 0; i < atendimento.length; i++) { %>
						<% if (atendimento[i].status === 'AGUARDANDO') { %>
						<p><input type="radio" class="form-radio" name="idAtendimento" value="<%= atendimento[i].id %>"> <%= atendimento[i].clienteNome %> -
							<img src="/img/cadeira.svg" width="15px"/> <%= atendimento[i].quantidadePessoas %></p>
							<% } %>
							<% } %>
							<input type="hidden" name="idMesa" id="aloca">
          </div>
							<div class="modal-footer">
								<button class="d-none d-sm-inline-block btn btn-sm btn-default shadow-sm" type="button" data-dismiss="modal">Cancelar</button>
								<input type="submit" value="Alocar Cliente" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"/>
          </div>
				</form>
			</div>
		</div>
	</div>

	<!-- Logout Modal-->
	<div class="modal fade" id="liberarMesaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
				</div>
				<form id="modalExemplo" method="post" action="/app/mesa/libera/">
					<div class="modal-body">
						<p>Você deseja realmente liberar esta mesa?</p>
						<input type="hidden" name="idMesa" id="libera">
            </div>
						<div class="modal-footer">
							<button class="d-none d-sm-inline-block btn btn-sm btn-default shadow-sm" type="button" data-dismiss="modal">Cancelar</button>
							<input type="submit" value="Liberar" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"/>
            </div>
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>

</body>

</html>